@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.imgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.pbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.imgBox img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 100%;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

button {
    margin: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

#peter{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: 46;
    font-weight: bold;
    font-size: 46px;
}

#peter2{
    font-size: 20px;
    color: white;
    padding: 10px;
}

#blackbox{
    background-color: black;
    height: 100vh;
    width: 100%;
}